*
!/.gitignore

# Shared IDE configuration
!/codeStyles/
!/codeStyles/**

!/inspectionProfiles/
!/inspectionProfiles/**

!/runConfigurations/
!/runConfigurations/**

# Shared project settings
!/modules.xml
!/vcs.xml